@use 'styles/constant.scss';

.wrapper {
  .header {
    margin: 100px 0;
    time {
      color: var(--text-date);
    }
    h1 {
      font-size: 3rem;
      line-height: 4.5rem;
      padding: 0.3em 0 0.5em 0;
      font-weight: 600;
    }
  }

  article {
    font-size: 1.1rem;
    line-height: 1.8rem;

    p {
      font-size: 1rem;
      line-height: 1.8rem;
      margin-top: 20px;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 3.5rem;
      margin-top: 60px;
      font-weight: 600;
    }
    h2 {
      font-size: 1.6rem;
      line-height: 3rem;
      margin-top: 60px;
      font-weight: 600;
    }
    h3 {
      font-size: 1.2rem;
      line-height: 2.5rem;
      margin-top: 50px;
      font-weight: 600;
    }

    h4 {
      font-size: 0.9rem;
      line-height: 2rem;
      margin-top: 30px;
      font-weight: 600;
    }

    h5 {
      font-size: 0.8rem;
      line-height: 1.5rem;
      margin-top: 30px;
      line-height: 1.6rem;
      font-weight: 500;
    }
    h6 {
      font-weight: 500;
      font-size: 0.9rem;
      line-height: 1.3rem;
      margin-top: 30px;
    }
    ul {
      list-style: disc;
      padding-left: 1.5rem;
      margin-top: 20px;
    }
    ol {
      list-style: decimal;
      padding-left: 1.5rem;
      margin-top: 20px;
    }
    li {
      font-size: 1rem;
      line-height: 1.8rem;
      margin-top: 10px;
    }
    a {
      color: constant.$blue;
      transition: 0.2s ease;
      p {
        display: inline-block;
      }
    }

    code {
      background-color: var(--code);
      padding: 2px 7px;
      border-radius: 5px;
      font-size: 0.9rem;
      border: 1px solid var(--code-border);
    }

    pre {
      font-family: Consolas;
      padding: 20px 0;
      border-radius: 6px;
      //border: 1px solid var(--code-border);
      background-color: var(--code);
      overflow: auto;
      margin: 20px 0;
      line-height: 1.2;
    }
    pre code {
      background-color: transparent;
      padding: 0;
      border-radius: 0px;
      border: none;
      display: flex;
      flex-direction: column;
    }

    em,
    strong {
      font-weight: 500;
    }

    img {
      object-fit: cover;
    }
    // *::selection {
    //   background-color: #e9e9e8;
    // }

    blockquote {
      border-left: 3px solid var(--text-title);
      padding-left: 20px;
      margin-top: 20px;
      display: inline-block;

      p {
        color: var(--text-title);
        font-weight: 500;
        margin: 0;
      }
    }
    iframe {
      padding: 20px 0;
    }
  }

  div > a {
    text-decoration: none;
  }
  :global {
    .post_ref {
      margin-top: 150px;
      p {
        margin-top: 10px;
      }
    }
    .post_img {
      flex-direction: column;
      display: flex;
      padding: 30px 0;
      align-items: center;
      p {
        margin: 0;
      }

      a {
        width: fit-content;
        text-decoration: none;
        color: var(--text-date);
        font-size: 14px;
        p {
          text-align: center;
          display: inline-block;
          font-size: inherit;
        }
      }
    }
    .line {
      font-size: 0.75rem;
      line-height: 0.75rem;
      padding: 5px 20px;
    }
    .line.highlighted {
      background: #393941;
      border-left: 3px solid constant.$blue;
    }
    .line > .word {
      padding: 5px;
      border-radius: 5px;
      background-color: #393941;
    }

    .utterances {
      max-width: 100% !important;
    }
  }
}
