@use 'styles/constant';
@use 'styles/mixin';

.postWrapper {
  width: 100%;
  .postInner {
    .header {
      margin: 100px 0;
      time {
        color: var(--date);
      }
      h1 {
        font-size: 3rem;
        margin-top: 0.3em;
        margin-bottom: 0.5em;
        font-weight: 600;
      }
    }

    article {
      p {
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top: 20px;
      }
      h1 {
        font-size: 2.5rem;
        margin-top: 60px;
        font-weight: 600;
      }
      h2 {
        font-size: 1.6rem;
        margin-top: 60px;
        font-weight: 600;
      }
      h3 {
        font-size: 1.2rem;
        margin-top: 50px;
        font-weight: 600;
      }

      h4 {
        font-size: 1rem;
        margin-top: 30px;
        font-weight: 600;
      }

      h5 {
        font-size: 0.8rem;
        margin-top: 30px;
        font-weight: 500;
      }
      h6 {
        font-weight: 500;
        font-size: 0.9rem;
        margin-top: 30px;
      }
      ul {
        list-style: disc;
        margin-top: 20px;
        padding-left: 1.5rem;
        list-style: none;

        li::before {
          content: '\2022';
          color: #d7d7d7;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
      ol {
        list-style: decimal;
        padding-left: 1.5rem;
        margin-top: 20px;
      }
      li {
        line-height: 1.8rem;
        position: relative;
        font-size: 1rem;
        margin-top: 10px;
      }

      a {
        text-decoration: none;
        color: constant.$link;
        transition: 0.2s ease;
        p {
          display: inline-block;
        }
      }

      p > code,
      li > code {
        background-color: var(--code-bg);
        padding: 2px 7px;
        border-radius: 5px;
        font-size: 0.9rem;
        border: 1px solid var(--code-border);
      }

      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: Consolas;
        padding: 15px 0;
        border-radius: 6px;
        // background-color: var(--code); // 지울 예정 적용 안되는 코드
        margin: 20px 0;
      }
      pre > code {
        border: none;
        background-color: inherit;
        display: flex;
        flex-direction: column;
      }

      em,
      strong {
        font-weight: 500;
      }

      img {
        object-fit: cover;
      }

      blockquote {
        border-left: 3px solid var(--date);
        padding-left: 20px;
        margin-top: 20px;
        display: inline-block;
        p {
          margin: 0;
        }
      }
      iframe {
        padding: 20px 0;
      }
    }

    :global {
      .post_ref {
        margin-top: 150px;
        h3 {
          margin-bottom: 15px;
        }
        p {
          margin-top: 10px;
        }
      }
      .post_img {
        flex-direction: column;
        display: flex;
        margin: 30px 0;
        align-items: center;
        p {
          margin: 0;
        }

        a {
          width: fit-content;
          text-decoration: none;
          color: var(--date);
          font-size: 14px;
          p {
            text-align: center;
            display: inline-block;
            font-size: inherit;
          }
        }
      }
      .line {
        font-size: 0.78rem;
        line-height: 1.5rem;
        padding: 0px 20px;

        @include mixin.tablet {
          padding: 5px 20px;
          line-height: 0.78rem;
        }
      }
      .line.highlighted {
        background: #2b2b31;
        border-left: 3px solid constant.$link;
      }
      .line > .word {
        padding: 5px;
        border-radius: 5px;
        background-color: #2b2b31;
      }

      .utterances {
        max-width: 100% !important;
      }
    }
  }
}
