@use 'sass:map';

$tablet: 640px;
$laptop: 1024px;
$desktop: 1280px;

$header-height: 60px;

$link: #348bef;
$title: (
  'light': #2a2a2a,
  'dark': #f3f3f3,
);
$svg-bg-hover: (
  'light': #f9fafb,
  'dark': #0e0e0e,
);
$svg: (
  'light': #94a3b8,
  'dark': #7e848d,
);
$keyword-text: (
  'light': #bdbdbd,
  'dark': #595959,
);
$keyword-bg-active: (
  'light': map.get($title, 'light'),
  'dark': #272727,
);

$light: (
  'bg': #fff,
  'title': map.get($title, 'light'),
  'text': map.get($title, 'light'),
  'des': lighten(map.get($title, 'light'), 30%),
  'date': lighten(map.get($title, 'light'), 50%),
  'code-bg': map.get($title, 'dark'),
  'code-border': #e3e3e3,
  'border': #e5e7eb,
  'svg': map.get($svg, 'light'),
  'svg-hover': darken(map.get($svg, 'light'), 20%),
  'svg-bg-hover': map.get($svg-bg-hover, 'light'),
  'keyword-bg': #cecece,
  'keyword-bg-active': map-get($keyword-bg-active, 'light'),
  'keyword-bg-hover': darken(#cecece, 20%),
  'keyword-text': #bdbdbd,
  'keyword-text-active': map-get($title, 'dark'),
  'keyword-border': lighten(map.get($keyword-text, 'light'), 20%),
  'search-btn-bg-hover': darken(map.get($svg-bg-hover, 'light'), 1.5%),
  'search-list-bg-hover': darken(map.get($svg-bg-hover, 'light'), 1%),
  'search-list': lighten(map.get($title, 'light'), 30%),
  'box-shadow': 0px 14px 24px 0px rgba(0, 0, 0, 0.07),
  'blur': rgba(255, 255, 255, 0.2),
);
$dark: (
  'bg': #131313,
  'title': map.get($title, 'dark'),
  'text': #d9d9d9,
  'des': darken(map.get($title, 'dark'), 30%),
  'date': darken(map.get($title, 'dark'), 50%),
  'code-bg': #1e1e1e,
  'code-border': map.get($title, 'light'),
  'border': #343434,
  'svg': map.get($svg, 'dark'),
  'svg-hover': lighten(map.get($svg, 'dark'), 20%),
  'svg-bg-hover': map.get($svg-bg-hover, 'dark'),
  'keyword-bg': #232323,
  'keyword-bg-active': map-get($keyword-bg-active, 'dark'),
  'keyword-bg-hover': lighten(#232323, 10%),
  'keyword-text': #595959,
  'keyword-text-active': map-get($title, 'dark'),
  'keyword-border': darken(map.get($keyword-text, 'dark'), 20%),
  'search-btn-bg-hover': lighten(map.get($svg-bg-hover, 'dark'), 3%),
  'search-list-bg-hover': darken(map.get($svg-bg-hover, 'dark'), 1%),
  'search-list': darken(map.get($title, 'dark'), 30%),
  'box-shadow': 0px 14px 24px 0px rgb(131 131 131 / 7%),
  'blur': rgba(0, 0, 0, 0.2),
);
