$bg-color-1: #fff;
$bg-color-2: #1c1c1c;
$bg-footer-color-1: #f7f7f7;
$bg-footer-color-2: #131313;
$text-color-1: #131313;
$text-color-2: #fff;

$padding: 0 20px;
$header-height: 70px;
$footer-height: 80px;
