@use './theme.scss' as *;
@use './constant.scss' as *;

body {
  transition: 0.3s all;
  background-color: var(--color-bg);
  color: var(--color-text);
}

main {
  max-width: 980px;
  margin: 0 auto;
  & > div {
    // margin: $header-margin;
    @include mobile;
    margin: 100px 39px;
  }
}

svg {
  fill: var(--color-text);
}
