@use './theme.scss';
@use './mixin.scss';
@use './reset.scss';

body {
  transition: 0.3s all;
  background-color: var(--bg);
  color: var(--text);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title);
  }
}

main {
  display: flex;
  margin: 0 auto;
  max-width: 1080px;
  & > div {
    margin: 0 20px;
    @include mixin.tablet {
      margin: 0 40px;
    }
    @include mixin.desktop {
      margin: 0;
    }
  }
}
