@use '/src/styles/mixin';

.wrapper {
  margin-top: 52px;

  .postWarpper {
    padding: 60px 0 100px;
    display: flex;
    flex-direction: column;
    gap: 60px 0;
    @include mixin.tablet {
      gap: 100px 0;
    }
  }
}
