@use '/src/styles/constant';
@use '/src/styles/mixin';

.headerWrapper {
  position: sticky;
  width: 100%;
  top: 0;
  border-bottom: 1px solid var(--border);
  background-color: var(--bg);
  z-index: 100;
  color: var(--title);
  svg {
    path,
    circle {
      fill: var(--svg);
    }
  }
  .headerInner {
    margin: 0 auto;
    max-width: 1200px;
    height: constant.$header-height;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 20px;

    .logo {
      font-weight: 500;
      font-size: 18px;
    }
  }
  .mobileButton {
    display: flex;
  }
  .nav {
    display: none;
  }
  .sideNav {
    display: flex;
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    background-color: var(--bg);
    right: 0;
    height: 100vh;
    width: 30%;
    position: absolute;
    padding: 32px;
  }

  @include mixin.tablet {
    .content {
      margin: 0 40px;
    }
    .nav {
      display: flex;
    }
    .sideNav,
    .mobileButton {
      display: none;
    }
  }

  @include mixin.desktop {
    .content {
      margin: 0;
    }
  }
}
