@use '/src/styles/constant';

$margin: 25px;

.wrapper.isTabletNav {
  flex-direction: column;
  width: 100%;
  .search {
    width: 100%;
    margin-right: 0px;
    button {
      width: 100%;
    }
  }
  .buttons {
    padding-top: 32px;
    &::before {
      content: none;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;

  .search {
    padding: 0 10px;
    margin-right: $margin;

    button {
      height: 32px;
      align-items: center;
      border-radius: 5px;
      padding: 0 8px;
      display: flex;
      width: 250px;
      border: 1px solid var(--border);
      background-color: var(--svg-bg-hover);
      svg {
        margin-right: 7px;
      }
      span {
        color: var(--svg);
        font-size: 12px;
      }
      .placeholder {
        display: flex;
        justify-content: flex-start;
        flex: 1;
      }
      .shortcut {
        font-size: 10px;
        padding: 3px 4px;
        border-radius: 5px;
        border: 1px solid var(--svg);
      }
    }
    button:hover {
      cursor: text;
      background-color: var(--search-bg-hover2);
    }
  }

  .buttons {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    * + * {
      margin-left: 10px;
    }
    button {
      margin-left: $margin;
    }
    a,
    button {
      display: flex;
      align-items: center;
      border-radius: 6px;
      padding: 7px 10px;
      &:hover {
        background-color: var(--svg-bg-hover);
        svg {
          path,
          circle {
            fill: var(--svg-hover);
          }
        }
      }
    }

    &::before {
      background-color: var(--border);
      width: 1px;
      box-sizing: border-box;
      content: '';
      height: 25px;
    }
  }
  .tabletButton {
    align-items: center;
    display: none;

    button {
      display: flex;
      align-items: center;
      padding: 7px 0 7px 10px;
    }
  }
}
