.keywords {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  button {
    padding: 3px 10px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    background-color: var(--keyword-bg);
    border-radius: 9px;
    &:hover {
      background-color: var(--keyword-bg-hover);
    }
  }

  &.isKeywordsPage {
    button {
      color: var(--keyword-text);
      background-color: var(--bg);
      border: 1px solid var(--keyword-border);
      &.isActive {
        border: none;
        color: var(--keyword-text-active);
        background-color: var(--keyword-bg-active);
      }
      small {
        font-size: 12px;
      }
    }
  }
  &.isDetailPage {
    gap: 20px;
  }
}
