.keywords {
  margin: 25px 0;
  gap: 20px 30px;
  display: flex;
  flex-wrap: wrap;

  a {
    color: var(--keyword-text);
    font-size: 14px;
    line-height: 35px;
    display: inline-block;
    height: 35px;
    padding: 0 20px;
    background-color: var(--keyword-bg);
    border-radius: 7px;
    &:hover {
      background-color: var(--keyword-bg-hover);
    }
  }

  &.isKeywordsPage {
    margin: 0 0 25px 0;
    a {
      height: 30px;
      color: var(--text-date);
      background-color: var(--bg);
      line-height: 30px;
      border: 1px solid var(--keyword-bg-hover);

      &.isActive {
        border: none;
        color: var(--bg);
        background-color: var(--keyword-text);
      }
    }
  }
}
