@use '/src/styles/mixin.scss';

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
  gap: 20px 0px;
  .imgWrapper {
    width: 100%;
    position: relative;
    height: 216px;
    img {
      box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.07);
      object-fit: cover;
    }
  }
  .details {
    flex: 1;
    gap: 10px 0;
    flex-direction: column;
    time {
      display: inline-block;
      color: #6a6a6a;
      font-size: 14px;
      margin-bottom: 6px;
    }
    & > div {
      display: flex;
      flex-direction: column;
      gap: 15px 0;
      h2 {
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        font-weight: bold;
        font-size: 22px;
      }
      span {
        color: #6a6a6a;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        font-size: 15px;
      }
    }
  }

  @include mixin.tablet {
    gap: 0 40px;
    flex-direction: row;
    align-items: center;
    .imgWrapper {
      max-width: 252px;
      height: 158px;
    }
  }
}
