@use '/src/styles/mixin.scss';

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .imgWrapper {
    min-width: 300px;
    height: 180px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 50px;
    img {
      object-fit: cover;
      border-radius: 5px;
    }
  }

  @include mixin.mobile {
    flex-direction: column-reverse;
    margin-left: 0;
    align-items: start;
    .imgWrapper {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }
}

.contentWrapper {
  time {
    font-weight: 400;
    color: var(--text-date);
  }
  h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 20px 0;
  }
  span {
    color: var(--text-des);
  }
}
