@use '/src/styles/mixin.scss';
@use '/src/styles/constant.scss';

.wrapper {
  margin: 150px 0;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  a {
    color: var(--text-title);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--keyword-bg);
    display: flex;
    width: 40%;
    justify-content: center;
    &.next {
      align-items: flex-end;
      text-align: end;
    }
    &.previous {
      text-align: start;
      align-items: flex-start;
    }
  }

  &.noPreviousPost {
    justify-content: flex-end;
  }
  &.noNextPost {
    justify-content: flex-start;
  }
  @include mixin.mobile {
    flex-direction: column;
    gap: 50px;
    a {
      width: calc(100% - 50px);

      &.next {
        text-align: start;
        align-items: flex-start;
      }
    }
  }
}
